/** 重置开始 **/
.img-circle {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.layui-tab {
    height: 100%;
    margin: 0px;
}
.p-left-0{
    padding-left: 0px;
}
.p-left-10{
    padding-left: 10px;
}
.p-right-0{
    padding-right: 0px;
}
.w-360px {
    width: 360px;
}
.right-0px {
    right: 0px;
}
.left-0px {
    left: 0px;
}
.width-100 {
    width:100%
}
.border-0px {
    border: 0px;
}
.postion-top-auto {
    top: auto;
}
/** 重置结束 **/

/*操作成功提示*/
#success-message {
    background-color: #79C48C;
    position: absolute;
    top: 55px;
    z-index: 999999;
    left: 50%;
    color: #fff;
    padding: 5px 20px;
    border-radius: 1px;
    display: none;
}
/*头部搜索框开始*/
.navbar-search {
    margin: 0px;
}
.navbar-search-input {
    padding-left: 32px;
    border-radius: 30px;
    -webkit-transition: all .5s;
    background-color: rgba(255,255,255,.05);
}
.navbar-search-input:focus {
    border-radius: 0px;
    -webkit-transition: all .5s;
    color: #fff9ec;
}
.navbar-search > i {
    left: 0px;
    width: 34px;
    height: 34px;
    padding-top: 10px;
}
.navbar-search .navbar-search-content {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: auto;
    border-left: 1px solid #fff9ec;
    border-right: 1px solid #fff9ec;
    border-bottom: 1px solid #fff9ec;
    background-color: #393D49 !important;
    -webkit-transition: all .5s;
}
.navbar-search-content ul li {
    padding: 7px 17px;

}
.navbar-search-content ul li > a{
    color: #ababab;
}
.navbar-search-content ul li:hover {
    color: #666666;
    background-color: #666666;
}
.navbar-search-content > ul > li.active {
    background-color: #666666;
}
/*头部搜索框结束*/

/*中间内容主体开始*/
.layui-tab-title {
    margin-bottom: 0px;
}
.layui-tab-content {
    padding: 8px 15px 0px 15px;
    background-color:#fff;
    overflow:auto;
}
/*.layui-tab-content > .layui-tab-item {
    padding-bottom: 20px;
}*/
.layui-tab-content > .layui-tab-item > .container {
    width: 100%;
    padding: 0px;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "> ";
    padding: 0 5px;
}
.header .breadcrumb {
    margin-bottom: 10px;
    border-radius: 0px;
    border-left: 4px solid #009688;
    background-color: #eee !important;
}

.fieldset {
    padding:.35em .625em .75em;margin:0 2px;border:1px solid silver;
}
.fieldset .legend {
    padding: 0px 15px;border:0;width:auto;margin-bottom: 0px;
}
.advanced-search .btn{
    height: 34px;
    border-radius: 0px;
    padding: 7px 15px;
    font-weight: 400;
}
.layui-tab-content .content,.header {
    margin-bottom: 5px;
}
.advanced-search .dropdown-menu {
    background-color: #f7f7f7;
    border: solid 1px #ccc;
    margin-top: 3px;
}
.advanced-search .search-input {
    border-left: 0px;
}
.advanced-search .btn-default {
    background-color: #f7f7f7;
    border: solid 1px #ccc;
    color: #333;
}
.advanced-search .dropdown-menu .layui-form-item label {
    width: 22%;
    font-weight: normal;
    color: #666;
    padding: 9px 0px;
}
.advanced-search .dropdown-menu .layui-form-item .input-block {
    width: 76%;
    float: left;
    padding-left: 10px;
}
/*中间内容主体结束*/

/*主页样式开始*/
@media (min-width: 992px) {
    .year {
        border-left: 1px solid #999;
    }
}
.layui-tab-item .time-fieldset {height: 200px;padding:.35em .625em .75em;margin:0 2px;border:1px solid silver;}
.layui-tab-item .time-fieldset h2,h4,h5,.h1{font-weight: 400;}
.layui-tab-item .time-fieldset>legend{padding:.5em;border:0;width:auto;margin-bottom: 5px;}
.year-week {
    color:  #6f6f6f;
    font-size: 26px;
    font-weight: 200;
}
.year-week #week {
    font-size: 20px;
}
.time-fieldset #weather h2 {
    margin: 0px;
}
.time-fieldset #weather h2 > span {
    font-size: 20px;
    padding: 10px;
}
.time-fieldset #weather img {
    background-color: #e2e2e2;
    border-radius: 6px;
    margin-top: 5px;

}
#layui-tab-cs-menu li.bhome i.layui-tab-close {
    display: none;
}
/*主页样式结束*/


/** 右键菜单按钮开始 **/
.left-menu {
    width: 160px;
}
.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
/** 右键按钮结束 **/


/**jquery-confirm 弹出层开始**/
body .jconfirm .jconfirm-box .jconfirm-buttons button {
    border-radius: 1px;
}
/**jquery-confirm 弹出层结束**/

/**加载层开始**/
#loading-box .layer{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1111111;
    margin-top: 0px;
    top: 0px;
    text-align: center;
    opacity: 0.2;
    background-color: #bbb;
}
#loading-box img{
    top: 50%;
    margin-top: -60px;
    position: absolute;
    z-index: 1111112;
    width: 60px;
    left: 50%;
    height: 60px;
    margin-left: -60px;
}
/**加载层结束**/

