<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofhi.modules.cms.sys.dao.SysDictionaryItemDao">
    <resultMap id="result_SysDictionaryItem_Map" type="com.ofhi.modules.cms.sys.entity.pojo.SysDictionaryItem">
        <id column="SysDictionaryItem0" property="id" />
        <result column="SysDictionaryItem1" property="sysDataGroupId" />
        <result column="SysDictionaryItem2" property="keyValue" />
        <result column="SysDictionaryItem3" property="keyName" />
        <result column="SysDictionaryItem4" property="isFinal" />
        <result column="SysDictionaryItem5" property="rank" />
        <result column="SysDictionaryItem6" property="createTime" />
        <result column="SysDictionaryItem7" property="updateTime" />
        <result column="SysDictionaryItem8" property="createBy" />
        <result column="SysDictionaryItem9" property="updateBy" />
        <result column="SysDictionaryItem10" property="status" />
        <result column="SysDictionaryItem11" property="description" />
    </resultMap>

    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="sys_dictionary_item_Column">
        sys_dictionary_item.id as SysDictionaryItem0
        ,sys_dictionary_item.sys_data_group_id as SysDictionaryItem1
        ,sys_dictionary_item.key_value as SysDictionaryItem2
        ,sys_dictionary_item.key_name as SysDictionaryItem3
        ,sys_dictionary_item.is_final as SysDictionaryItem4
        ,sys_dictionary_item.rank as SysDictionaryItem5
        ,sys_dictionary_item.create_time as SysDictionaryItem6
        ,sys_dictionary_item.update_time as SysDictionaryItem7
        ,sys_dictionary_item.create_by as SysDictionaryItem8
        ,sys_dictionary_item.update_by as SysDictionaryItem9
        ,sys_dictionary_item.status as SysDictionaryItem10
        ,sys_dictionary_item.description as SysDictionaryItem11
    </sql>

    <select id="getSysDictionaryItemRowCount" parameterType="com.ofhi.common.Assist" resultType="java.lang.Long">
        select count(id) from sys_dictionary_item
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <select id="selectSysDictionaryItem" parameterType="com.ofhi.common.Assist" resultMap="result_SysDictionaryItem_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="sys_dictionary_item_Column" /> 
            </otherwise>
        </choose>
        from sys_dictionary_item
        <if test="require!=null"><include refid="Assist" /></if>
        <if test="order !=null">${order}</if>
        <if test="rowSize !=null"> LIMIT #{rowSize} <if test="startRow !=null"> OFFSET #{startRow}</if></if>
    </select> 

    <select id="selectSysDictionaryItemById" parameterType="java.lang.Long" resultMap="result_SysDictionaryItem_Map">
        select 
            <include refid="sys_dictionary_item_Column" /> 
        from sys_dictionary_item
        where sys_dictionary_item.id = #{id}
    </select> 


    <insert id="insertSysDictionaryItem" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysDictionaryItem">
        insert into sys_dictionary_item(id,sys_data_group_id,key_value,key_name,is_final,rank,create_time,update_time,create_by,update_by,status,description) 
        values(#{id},#{sysDataGroupId},#{keyValue},#{keyName},#{isFinal},#{rank},#{createTime},#{updateTime},#{createBy},#{updateBy},#{status},#{description})
    </insert>

    <insert id="insertNonEmptySysDictionaryItem" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysDictionaryItem">
        insert into sys_dictionary_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="sysDataGroupId != null">sys_data_group_id,</if>
            <if test="keyValue != null">key_value,</if>
            <if test="keyName != null">key_name,</if>
            <if test="isFinal != null">is_final,</if>
            <if test="rank != null">rank,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="status != null">status,</if>
            <if test="description != null">description,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="sysDataGroupId != null"> #{sysDataGroupId},</if>
            <if test="keyValue != null"> #{keyValue},</if>
            <if test="keyName != null"> #{keyName},</if>
            <if test="isFinal != null"> #{isFinal},</if>
            <if test="rank != null"> #{rank},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="updateTime != null"> #{updateTime},</if>
            <if test="createBy != null"> #{createBy},</if>
            <if test="updateBy != null"> #{updateBy},</if>
            <if test="status != null"> #{status},</if>
            <if test="description != null"> #{description},</if>
        </trim>
    </insert>

    <delete id="deleteSysDictionaryItemById" parameterType="java.lang.Long">
        delete from sys_dictionary_item
        where id = #{id}
    </delete>

    <delete id="deleteSysDictionaryItem" parameterType="com.ofhi.common.Assist">
        delete from sys_dictionary_item
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <update id="updateSysDictionaryItemById" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysDictionaryItem">
        update sys_dictionary_item set
            sys_data_group_id=#{sysDataGroupId}
            ,key_value=#{keyValue}
            ,key_name=#{keyName}
            ,is_final=#{isFinal}
            ,rank=#{rank}
            ,create_time=#{createTime}
            ,update_time=#{updateTime}
            ,create_by=#{createBy}
            ,update_by=#{updateBy}
            ,status=#{status}
            ,description=#{description}
        where id=#{id}
    </update>

    <update id="updateNonEmptySysDictionaryItemById" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysDictionaryItem">
        update sys_dictionary_item
        <set>
            <if test="sysDataGroupId != null">
                sys_data_group_id=#{sysDataGroupId},
            </if>
            <if test="keyValue != null">
                key_value=#{keyValue},
            </if>
            <if test="keyName != null">
                key_name=#{keyName},
            </if>
            <if test="isFinal != null">
                is_final=#{isFinal},
            </if>
            <if test="rank != null">
                rank=#{rank},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
            <if test="createBy != null">
                create_by=#{createBy},
            </if>
            <if test="updateBy != null">
                update_by=#{updateBy},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateSysDictionaryItem" parameterType="map">
        update sys_dictionary_item
        <set>
                id=#{enti.id},
                sys_data_group_id=#{enti.sysDataGroupId},
                key_value=#{enti.keyValue},
                key_name=#{enti.keyName},
                is_final=#{enti.isFinal},
                rank=#{enti.rank},
                create_time=#{enti.createTime},
                update_time=#{enti.updateTime},
                create_by=#{enti.createBy},
                update_by=#{enti.updateBy},
                status=#{enti.status},
                description=#{enti.description},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <update id="updateNonEmptySysDictionaryItem" parameterType="map">
        update sys_dictionary_item
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.sysDataGroupId != null">
                sys_data_group_id=#{enti.sysDataGroupId},
            </if>
            <if test="enti.keyValue != null">
                key_value=#{enti.keyValue},
            </if>
            <if test="enti.keyName != null">
                key_name=#{enti.keyName},
            </if>
            <if test="enti.isFinal != null">
                is_final=#{enti.isFinal},
            </if>
            <if test="enti.rank != null">
                rank=#{enti.rank},
            </if>
            <if test="enti.createTime != null">
                create_time=#{enti.createTime},
            </if>
            <if test="enti.updateTime != null">
                update_time=#{enti.updateTime},
            </if>
            <if test="enti.createBy != null">
                create_by=#{enti.createBy},
            </if>
            <if test="enti.updateBy != null">
                update_by=#{enti.updateBy},
            </if>
            <if test="enti.status != null">
                status=#{enti.status},
            </if>
            <if test="enti.description != null">
                description=#{enti.description},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>