<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofhi.modules.cms.sys.dao.SysIpInterceptDao">
    <resultMap id="result_SysIpIntercept_Map" type="com.ofhi.modules.cms.sys.entity.pojo.SysIpIntercept">
        <id column="SysIpIntercept0" property="id" />
        <result column="SysIpIntercept1" property="isFinal" />
        <result column="SysIpIntercept2" property="createTime" />
        <result column="SysIpIntercept3" property="updateTime" />
        <result column="SysIpIntercept4" property="createBy" />
        <result column="SysIpIntercept5" property="updateBy" />
        <result column="SysIpIntercept6" property="expireTime" />
        <result column="SysIpIntercept7" property="description" />
        <result column="SysIpIntercept8" property="ip" />
    </resultMap>

    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="sys_ip_intercept_Column">
        sys_ip_intercept.id as SysIpIntercept0
        ,sys_ip_intercept.is_final as SysIpIntercept1
        ,sys_ip_intercept.create_time as SysIpIntercept2
        ,sys_ip_intercept.update_time as SysIpIntercept3
        ,sys_ip_intercept.create_by as SysIpIntercept4
        ,sys_ip_intercept.update_by as SysIpIntercept5
        ,sys_ip_intercept.expire_time as SysIpIntercept6
        ,sys_ip_intercept.description as SysIpIntercept7
        ,sys_ip_intercept.ip as SysIpIntercept8
    </sql>

    <select id="getSysIpInterceptRowCount" parameterType="com.ofhi.common.Assist" resultType="java.lang.Long">
        select count(id) from sys_ip_intercept
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <select id="selectSysIpIntercept" parameterType="com.ofhi.common.Assist" resultMap="result_SysIpIntercept_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="sys_ip_intercept_Column" /> 
            </otherwise>
        </choose>
        from sys_ip_intercept
        <if test="require!=null"><include refid="Assist" /></if>
        <if test="order !=null">${order}</if>
        <if test="rowSize !=null"> LIMIT #{rowSize} <if test="startRow !=null"> OFFSET #{startRow}</if></if>
    </select> 

    <select id="selectSysIpInterceptById" parameterType="java.lang.Long" resultMap="result_SysIpIntercept_Map">
        select 
            <include refid="sys_ip_intercept_Column" /> 
        from sys_ip_intercept
        where sys_ip_intercept.id = #{id}
    </select> 


    <insert id="insertSysIpIntercept" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysIpIntercept">
        insert into sys_ip_intercept(id,is_final,create_time,update_time,create_by,update_by,expire_time,description,ip) 
        values(#{id},#{isFinal},#{createTime},#{updateTime},#{createBy},#{updateBy},#{expireTime},#{description},#{ip})
    </insert>

    <insert id="insertNonEmptySysIpIntercept" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysIpIntercept">
        insert into sys_ip_intercept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="isFinal != null">is_final,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="description != null">description,</if>
            <if test="ip != null">ip,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="isFinal != null"> #{isFinal},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="updateTime != null"> #{updateTime},</if>
            <if test="createBy != null"> #{createBy},</if>
            <if test="updateBy != null"> #{updateBy},</if>
            <if test="expireTime != null"> #{expireTime},</if>
            <if test="description != null"> #{description},</if>
            <if test="ip != null"> #{ip},</if>
        </trim>
    </insert>

    <delete id="deleteSysIpInterceptById" parameterType="java.lang.Long">
        delete from sys_ip_intercept
        where id = #{id}
    </delete>

    <delete id="deleteSysIpIntercept" parameterType="com.ofhi.common.Assist">
        delete from sys_ip_intercept
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <update id="updateSysIpInterceptById" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysIpIntercept">
        update sys_ip_intercept set
            is_final=#{isFinal}
            ,create_time=#{createTime}
            ,update_time=#{updateTime}
            ,create_by=#{createBy}
            ,update_by=#{updateBy}
            ,expire_time=#{expireTime}
            ,description=#{description}
            ,ip=#{ip}
        where id=#{id}
    </update>

    <update id="updateNonEmptySysIpInterceptById" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysIpIntercept">
        update sys_ip_intercept
        <set>
            <if test="isFinal != null">
                is_final=#{isFinal},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
            <if test="createBy != null">
                create_by=#{createBy},
            </if>
            <if test="updateBy != null">
                update_by=#{updateBy},
            </if>
            <if test="expireTime != null">
                expire_time=#{expireTime},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="ip != null">
                ip=#{ip},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateSysIpIntercept" parameterType="map">
        update sys_ip_intercept
        <set>
                id=#{enti.id},
                is_final=#{enti.isFinal},
                create_time=#{enti.createTime},
                update_time=#{enti.updateTime},
                create_by=#{enti.createBy},
                update_by=#{enti.updateBy},
                expire_time=#{enti.expireTime},
                description=#{enti.description},
                ip=#{enti.ip},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <update id="updateNonEmptySysIpIntercept" parameterType="map">
        update sys_ip_intercept
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.isFinal != null">
                is_final=#{enti.isFinal},
            </if>
            <if test="enti.createTime != null">
                create_time=#{enti.createTime},
            </if>
            <if test="enti.updateTime != null">
                update_time=#{enti.updateTime},
            </if>
            <if test="enti.createBy != null">
                create_by=#{enti.createBy},
            </if>
            <if test="enti.updateBy != null">
                update_by=#{enti.updateBy},
            </if>
            <if test="enti.expireTime != null">
                expire_time=#{enti.expireTime},
            </if>
            <if test="enti.description != null">
                description=#{enti.description},
            </if>
            <if test="enti.ip != null">
                ip=#{enti.ip},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>