<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofhi.modules.cms.sys.dao.SysPermissionDao">
    <resultMap id="result_SysPermission_Map" type="com.ofhi.modules.cms.sys.entity.pojo.SysPermission">
        <id column="SysPermission0" property="id" />
        <result column="SysPermission1" property="name" />
        <result column="SysPermission2" property="description" />
        <result column="SysPermission3" property="code" />
        <result column="SysPermission4" property="icon" />
        <result column="SysPermission5" property="url" />
        <result column="SysPermission6" property="parentId" />
        <result column="SysPermission7" property="isFinal" />
        <result column="SysPermission8" property="rank" />
        <result column="SysPermission9" property="createTime" />
        <result column="SysPermission10" property="updateTime" />
        <result column="SysPermission11" property="createBy" />
        <result column="SysPermission12" property="updateBy" />
    </resultMap>

    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="sys_permission_Column">
        sys_permission.id as SysPermission0
        ,sys_permission.name as SysPermission1
        ,sys_permission.description as SysPermission2
        ,sys_permission.code as SysPermission3
        ,sys_permission.icon as SysPermission4
        ,sys_permission.url as SysPermission5
        ,sys_permission.parent_id as SysPermission6
        ,sys_permission.is_final as SysPermission7
        ,sys_permission.rank as SysPermission8
        ,sys_permission.create_time as SysPermission9
        ,sys_permission.update_time as SysPermission10
        ,sys_permission.create_by as SysPermission11
        ,sys_permission.update_by as SysPermission12
    </sql>

    <select id="getSysPermissionRowCount" parameterType="com.ofhi.common.Assist" resultType="java.lang.Long">
        select count(id) from sys_permission
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <select id="selectSysPermission" parameterType="com.ofhi.common.Assist" resultMap="result_SysPermission_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="sys_permission_Column" /> 
            </otherwise>
        </choose>
        from sys_permission
        <if test="require!=null"><include refid="Assist" /></if>
        <if test="order !=null">${order}</if>
        <if test="rowSize !=null"> LIMIT #{rowSize} <if test="startRow !=null"> OFFSET #{startRow}</if></if>
    </select> 

    <select id="selectSysPermissionById" parameterType="java.lang.Long" resultMap="result_SysPermission_Map">
        select 
            <include refid="sys_permission_Column" /> 
        from sys_permission
        where sys_permission.id = #{id}
    </select> 


    <insert id="insertSysPermission" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysPermission">
        insert into sys_permission(id,name,description,code,icon,url,parent_id,is_final,rank,create_time,update_time,create_by,update_by) 
        values(#{id},#{name},#{description},#{code},#{icon},#{url},#{parentId},#{isFinal},#{rank},#{createTime},#{updateTime},#{createBy},#{updateBy})
    </insert>

    <insert id="insertNonEmptySysPermission" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysPermission">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="code != null">code,</if>
            <if test="icon != null">icon,</if>
            <if test="url != null">url,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="isFinal != null">is_final,</if>
            <if test="rank != null">rank,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="name != null"> #{name},</if>
            <if test="description != null"> #{description},</if>
            <if test="code != null"> #{code},</if>
            <if test="icon != null"> #{icon},</if>
            <if test="url != null"> #{url},</if>
            <if test="parentId != null"> #{parentId},</if>
            <if test="isFinal != null"> #{isFinal},</if>
            <if test="rank != null"> #{rank},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="updateTime != null"> #{updateTime},</if>
            <if test="createBy != null"> #{createBy},</if>
            <if test="updateBy != null"> #{updateBy},</if>
        </trim>
    </insert>

    <delete id="deleteSysPermissionById" parameterType="java.lang.Long">
        delete from sys_permission
        where id = #{id}
    </delete>

    <delete id="deleteSysPermission" parameterType="com.ofhi.common.Assist">
        delete from sys_permission
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <update id="updateSysPermissionById" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysPermission">
        update sys_permission set
            name=#{name}
            ,description=#{description}
            ,code=#{code}
            ,icon=#{icon}
            ,url=#{url}
            ,parent_id=#{parentId}
            ,is_final=#{isFinal}
            ,rank=#{rank}
            ,create_time=#{createTime}
            ,update_time=#{updateTime}
            ,create_by=#{createBy}
            ,update_by=#{updateBy}
        where id=#{id}
    </update>

    <update id="updateNonEmptySysPermissionById" parameterType="com.ofhi.modules.cms.sys.entity.pojo.SysPermission">
        update sys_permission
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="code != null">
                code=#{code},
            </if>
            <if test="icon != null">
                icon=#{icon},
            </if>
            <if test="url != null">
                url=#{url},
            </if>
            <if test="parentId != null">
                parent_id=#{parentId},
            </if>
            <if test="isFinal != null">
                is_final=#{isFinal},
            </if>
            <if test="rank != null">
                rank=#{rank},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
            <if test="createBy != null">
                create_by=#{createBy},
            </if>
            <if test="updateBy != null">
                update_by=#{updateBy},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateSysPermission" parameterType="map">
        update sys_permission
        <set>
                id=#{enti.id},
                name=#{enti.name},
                description=#{enti.description},
                code=#{enti.code},
                icon=#{enti.icon},
                url=#{enti.url},
                parent_id=#{enti.parentId},
                is_final=#{enti.isFinal},
                rank=#{enti.rank},
                create_time=#{enti.createTime},
                update_time=#{enti.updateTime},
                create_by=#{enti.createBy},
                update_by=#{enti.updateBy},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <update id="updateNonEmptySysPermission" parameterType="map">
        update sys_permission
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.name != null">
                name=#{enti.name},
            </if>
            <if test="enti.description != null">
                description=#{enti.description},
            </if>
            <if test="enti.code != null">
                code=#{enti.code},
            </if>
            <if test="enti.icon != null">
                icon=#{enti.icon},
            </if>
            <if test="enti.url != null">
                url=#{enti.url},
            </if>
            <if test="enti.parentId != null">
                parent_id=#{enti.parentId},
            </if>
            <if test="enti.isFinal != null">
                is_final=#{enti.isFinal},
            </if>
            <if test="enti.rank != null">
                rank=#{enti.rank},
            </if>
            <if test="enti.createTime != null">
                create_time=#{enti.createTime},
            </if>
            <if test="enti.updateTime != null">
                update_time=#{enti.updateTime},
            </if>
            <if test="enti.createBy != null">
                create_by=#{enti.createBy},
            </if>
            <if test="enti.updateBy != null">
                update_by=#{enti.updateBy},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>