<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofhi.modules.cms.sys.dao.EmployeesDao">
    <resultMap id="result_Employees_Map" type="com.ofhi.modules.cms.sys.entity.pojo.Employees">
        <id column="Employees0" property="empNo" />
        <result column="Employees1" property="birthDate" />
        <result column="Employees2" property="firstName" />
        <result column="Employees3" property="lastName" />
        <result column="Employees4" property="gender" />
        <result column="Employees5" property="hireDate" />
    </resultMap>

    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="employees_Column">
        employees.emp_no as Employees0
        ,employees.birth_date as Employees1
        ,employees.first_name as Employees2
        ,employees.last_name as Employees3
        ,employees.gender as Employees4
        ,employees.hire_date as Employees5
    </sql>

    <select id="getEmployeesRowCount" parameterType="com.ofhi.common.Assist" resultType="java.lang.Long">
        select count(emp_no) from employees
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <select id="selectEmployees" parameterType="com.ofhi.common.Assist"  resultMap="result_Employees_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="employees_Column" /> 
            </otherwise>
        </choose>
        from employees
        <if test="require!=null"><include refid="Assist" /></if>
        <if test="order !=null">${order}</if>
        <if test="rowSize !=null"> LIMIT #{rowSize} <if test="startRow !=null"> OFFSET #{startRow}</if></if>
    </select> 

    <select id="selectEmployeesById" parameterType="java.lang.Integer" resultMap="result_Employees_Map">
        select 
            <include refid="employees_Column" /> 
        from employees
        where employees.emp_no = #{id}
    </select> 


    <insert id="insertEmployees" parameterType="com.ofhi.modules.cms.sys.entity.pojo.Employees">
        insert into employees(emp_no,birth_date,first_name,last_name,gender,hire_date) 
        values(#{empNo},#{birthDate},#{firstName},#{lastName},#{gender},#{hireDate})
    </insert>

    <insert id="insertNonEmptyEmployees" parameterType="com.ofhi.modules.cms.sys.entity.pojo.Employees">
        insert into employees
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="empNo != null">emp_no,</if>
            <if test="birthDate != null">birth_date,</if>
            <if test="firstName != null">first_name,</if>
            <if test="lastName != null">last_name,</if>
            <if test="gender != null">gender,</if>
            <if test="hireDate != null">hire_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="empNo != null"> #{empNo},</if>
            <if test="birthDate != null"> #{birthDate},</if>
            <if test="firstName != null"> #{firstName},</if>
            <if test="lastName != null"> #{lastName},</if>
            <if test="gender != null"> #{gender},</if>
            <if test="hireDate != null"> #{hireDate},</if>
        </trim>
    </insert>

    <delete id="deleteEmployeesById" parameterType="java.lang.Integer">
        delete from employees
        where emp_no = #{id}
    </delete>

    <delete id="deleteEmployees" parameterType="com.ofhi.common.Assist">
        delete from employees
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <update id="updateEmployeesById" parameterType="com.ofhi.modules.cms.sys.entity.pojo.Employees">
        update employees set
            birth_date=#{birthDate}
            ,first_name=#{firstName}
            ,last_name=#{lastName}
            ,gender=#{gender}
            ,hire_date=#{hireDate}
        where emp_no=#{empNo}
    </update>

    <update id="updateNonEmptyEmployeesById" parameterType="com.ofhi.modules.cms.sys.entity.pojo.Employees">
        update employees
        <set>
            <if test="birthDate != null">
                birth_date=#{birthDate},
            </if>
            <if test="firstName != null">
                first_name=#{firstName},
            </if>
            <if test="lastName != null">
                last_name=#{lastName},
            </if>
            <if test="gender != null">
                gender=#{gender},
            </if>
            <if test="hireDate != null">
                hire_date=#{hireDate},
            </if>
        </set>
        where emp_no=#{empNo}
    </update>

    <update id="updateEmployees" parameterType="map">
        update employees
        <set>
                emp_no=#{enti.empNo},
                birth_date=#{enti.birthDate},
                first_name=#{enti.firstName},
                last_name=#{enti.lastName},
                gender=#{enti.gender},
                hire_date=#{enti.hireDate},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <update id="updateNonEmptyEmployees" parameterType="map">
        update employees
        <set>
            <if test="enti.empNo != null">
                emp_no=#{enti.empNo},
            </if>
            <if test="enti.birthDate != null">
                birth_date=#{enti.birthDate},
            </if>
            <if test="enti.firstName != null">
                first_name=#{enti.firstName},
            </if>
            <if test="enti.lastName != null">
                last_name=#{enti.lastName},
            </if>
            <if test="enti.gender != null">
                gender=#{enti.gender},
            </if>
            <if test="enti.hireDate != null">
                hire_date=#{enti.hireDate},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>